/* core styling */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap'); */

@import url('../plugins/font/Inter/static/font.css');


:root {
    --bg-light: hsl(0, 0%, 100%);
    --bg-lime-green: #1dbf73;
    --bg-white: white;
    --bg-pink-rose: hsl(350, 74%, 67%);
    --scroller-tumb: #1d9b1d;
    --bg-gray: rgb(241, 234, 234);
    --bg-box: #fff;
    --light-green: #7fe67faf;
    --bg-dark-orange: #986f23c8;
    --bg-semi-dark:rgba(27, 25, 25, 0.835);
    --bg-new-blue: hsl(240, 58%, 41%);


    --text-white: #ffff;
    --text-black: #000000;
    --text-semiblack: hwb(0 0% 100% / 0.829);
    --text-green: hsl(120, 100%, 25%);
    --text-gray: hsla(0, 3%, 50%, 0.876);
    --text-boldgray: #62646a;
    --text-semi-gray: #f3f0f0;
    --text-star: hwb(49 51% 7%);


    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --box-shadow-simple: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    width: 100%;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--scroller-tumb);
    border-radius: 5rem;
}

body {
    background-color: var(--bg-light);
    overflow-x: hidden;
}

body.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
    pointer-events: none;
  }


main {
    padding: 2rem 7%;
}

.main-conteiner {
    padding: 2rem 4%;
}

/* Header Section styling */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: var(--bg-white);
    z-index: 997;
}

.main-header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.7rem 1.7rem 1rem;
    border-bottom: 1px solid #e2dede;
}

.main-header .header-wrapper .logo-workpal {
    position: relative;
    display: flex;
    max-width: 100%;
}

.logo-workpal a {
    text-decoration: none;
}

.logo-workpal img {
    max-width: 15rem;
    height: auto;
    background: transparent;
}

/* Search Pop Up*/
.search-container {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    transition:all ease .5s;
}

.search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    gap: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}


input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

input[type="search"]::-webkit-search-clear-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.search-form .search-input {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.search-form .search-input::placeholder{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-container .not-found {
    display: none;
    font-size: 1.7rem;
    padding: 1rem;
    font-weight: 500;
}

.search-form .search-btn {
    background-color: transparent;
    border: none;
    right: 0;
    position: absolute;
    outline: none;
    cursor: pointer;
    width:5%;
}

.search-btn i {
    font-size: 2.4rem;
    color: var(--text-black);
}

.result-search-box {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}


.result-search-box::-webkit-scrollbar {
    width: .4rem;
}

.result-search-box::-webkit-scrollbar-track {
    background: transparent;
}

.result-search-box::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, 0.694);
    border-radius: 5rem;
}




.result-search-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.result-search-box ul .content-result-search {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-black);
    cursor: pointer;
    transition: background-color 0.5s;
    z-index: 4;
    justify-content: space-between;
    text-align: start;
}

.result-search-box ul .content-result-search .btn-popular{
    position: relative;
    right: 0;
    font-size: 1.6rem;
    background-color: var(--bg-lime-green);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-white);
    border-radius: 5rem;
    font-weight: 600;
    padding: .5rem .7rem .5rem .7rem;
}

.result-search-box ul .content-result-search:hover {
    background-color: hsl(0, 9%, 85%);
}


.search-container .history-search{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    bottom: 0;
    margin-top: 3.5rem;
    z-index: 2;
}

.search-container .history-search .history{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: .7rem;
    color: var(--text-white);
    background-color: var(--bg-semi-dark);
    border: 1px solid white;
    border-radius: 5rem;
    cursor: pointer;
    transition: all ease .7s;
}

.search-container .history-search .history:hover{
    background-color: hsl(0, 3%, 7%);
}

.search-container .history-search .history i{
    font-size: 1.5rem;
}

.search-container .history-search .history p{
    font-size: 1.2rem;
}

.main-header .header-wrapper .workpal-nav {
    position: relative;
}

.workpal-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: nowrap;
}

.workpal-nav .nav-link .text-link {
    align-items: center;
    text-align: center;
    margin-right: 1.8rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-semiblack);
    font-size: 1.6rem;
    transition: all ease .8s;
}

.header-wrapper .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.header-wrapper .toogle-nav {
    display: none;
    cursor: pointer;
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    padding: .6rem;
    border-radius: 999px;
    font-size: 2.8rem;
    transition: all ease .6s;
}

.header-wrapper .wishlist {
    font-size: 2.5rem;
    display: flex;
    position: relative;
    align-items: center;

}

.header-wrapper .wishlist a {
    text-decoration: none;
}

.header-wrapper .wishlist i {
    color: var(--text-black);
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    border-radius: 999px;
    padding: .5rem;
}

.header-wrapper .cart {
    font-size: 2.5rem;
    display: flex;
    position: relative;
    align-items: center;

}

.header-wrapper .cart a {
    text-decoration: none;
}

.header-wrapper .cart i {
    color: var(--text-black);
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    border-radius: 999px;
    padding: .5rem;
}

.header-wrapper .toogle-nav .sr-auto {
    display: none;
}

.header-wrapper .toogle-nav.active {
    background-color: var(--bg-lime-green);
    color: var(--text-white);
}

.header-wrapper .nav-link {
    list-style: none;
}


.header-wrapper .toogle-search-btn {
    display: flex;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    padding: .7rem;
    border-radius: 999px;
}

.header-wrapper .toogle-search-btn i {
    align-items: center;
    font-size: 2.4rem;
    color: var(--text-black);
}

.header-wrapper .toogle-search-btn #x-search {
    display: none;
}

.workpal-nav .nav-link span {
    margin-right: 1.7rem;
    font-size: 1.6rem;
    color: var(--text-semiblack);
    font-weight: 600;
    cursor: pointer;
    transition: all ease .8s;
}


.nav-link span:hover,
.nav-link .text-link:hover {
    color: var(--scroller-tumb);
    letter-spacing: .5px;
}

.nav-link .btn-sign-up {
    display: flex;
    background-color: transparent;
    border: 1.8px solid var(--scroller-tumb);
    padding: 1rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease .8s;
}

.nav-link .btn-sign-up:hover {
    background-color: var(--bg-lime-green);
}

.nav-link .btn-sign-up a {
    text-decoration: none;
    color: var(--text-black);
    font-weight: 600;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    text-transform: capitalize;
    transition: all ease .8s;
}

.nav-link .btn-sign-up:hover a {
    color: var(--text-white);
}


/* End Header Section Styling */


/* To Top scroll  */
.to-top {
    display: none;
    position: fixed;
    align-items: center;
    bottom: 10%;
    height: 50px;
    width: 50px;
    right: 1rem;
    z-index: 99;
    cursor: pointer;
    border-radius: 999px;
    padding: .4rem .4rem .4rem .4rem;
}

.to-top .top-link {
    background-color: var(--bg-box);
    width: calc(100%);
    height: calc(100%);
    border-radius: 999px;
    display: grid;
    text-align: center;
    align-content: space-around;
    justify-content: space-around;
    text-decoration: none;
    color: var(--text-black);
    padding: .5rem;
}

.to-top .top-link i {
    font-size: 3rem;
}

/* Category Menu */

.category-menu {
    position: static;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: var(--bg-white);
    box-shadow: 1px 2px 2px 0px hwb(0 91% 9%);
    transition: all ease-in-out .6s !important;
}

/* Arrrow Slide Category menu */

.category-menu .prev,
.category-menu .next {
    position: absolute;
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-boldgray);
}

.category-menu .prev {
    margin-left: -2rem;
}

.category-menu .next {
    right: 0;
    margin-right: 2rem;
}

.category-menu .next i {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    border-radius: 999px;
    cursor: pointer;
    z-index: 1;
}

.category-menu .prev i {
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    border-radius: 999px;
    cursor: pointer;
    z-index: 1;
}

.category-menu .prev i:hover,
.category-menu .prev i:hover {
    color: var(--text-gray);
}

/* End of arrow */
.category-menu .category-menu-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0rem 3%;
}

.category-menu .category-menu-wrapper ul {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    gap: 10px;
}

.category-menu .category-menu-wrapper ul::-webkit-scrollbar {
    display: none;
}

.category-menu-wrapper .nav-link {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: transform 0.4s ease-in-out;
}

.category-menu-wrapper .nav-link a {
    text-decoration: none;
    list-style-image: none;
    display: inline-block;
    font-size: 1.53rem;
    color: var(--text-boldgray);
    padding: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    user-select: none;
    white-space: nowrap;
    border-radius: 999px;
}

.category-menu-wrapper .nav-link a:hover {
    background-color: var(--bg-lime-green);
    color: var(--text-white);
    transition: all ease-in-out .5s;
}

/* End Category Menu */

/* HoME menu */

.section-home {
    display: block;
    min-height: 100vh;
}

.section-slideshow {
    display: block;
    align-items: center;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.section-slideshow .header-title {
    display: block;
    position: absolute;
    z-index: 1;
    padding: 1rem;
    left: 3rem;
    bottom: 65%;
    top: 35%;
    align-items: center;
    text-align: left;
}

.header-title .title {
    max-width: 85%;
    display: flex;
    font-weight: 800;
    flex-wrap: wrap;
    color: var(--text-white);
    font-size: 4.7rem;
    text-transform: capitalize;

}

.header-title .title i {
    display: flex;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--bg-lime-green);
    text-align: center;
    align-items: center;
}

.header-title .title b {
    font-size: 5rem;
    color: var(--bg-lime-green);
}

.header-title li {
    color: var(--text-white);
    font-size: 2rem;
    margin-top: 1rem;
}

.freelance-img-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0a4226;
    margin-top: 2.3rem;
}

.freelance-img {
    margin-left: auto;
    position: relative;
    width: 100%;
    text-align: right;
}

.freelance-img #Freelance {
    height: auto;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.freelance-img .description-name {
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
    position: absolute;
    text-align: center;
    z-index: 1;
    background-color: hsl(0deg 0% 100% / 14%);
    color: var(--text-white);
    border: 1.6px solid hsla(0, 0%, 100%, .4);
    backdrop-filter: blur(30px);
    padding: 1rem;
    right: 3rem;
    bottom: 0;
    margin-bottom: 5rem;
    border-radius: 999px;
    cursor: pointer;
}

.freelance-img .description-name i {
    background-color: hwb(0 87% 12% / 0.14);
    backdrop-filter: blur(33px);
    padding: .4rem;
    border-radius: 999px;
    transition: all ease .6s;
}

.freelance-img .description-name i:hover {
    transform: scale(1.1);
}

.freelance-img .description-name h2 {
    text-align: center;
    text-transform: capitalize;
}

.freelance-img .description-name p {
    text-transform: capitalize;
}


.section-company {
    display: flex;
    padding: 2rem 4%;
    max-width: 100%;
    justify-content: center;
    align-items: center;

}

.section-company .logo-big-company {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    gap: 7px;
    align-items: center;
}

.section-company .text {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    font-size: 2rem;
    color: var(--text-black);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    cursor: default;
}

.section-company .logo-big-company .img-element {
    position: relative;
    max-width: 10rem;
    flex-direction: row;
    margin-left: 2rem;
    cursor: pointer;
    transition: all ease .7s;
}

.section-company .logo-big-company .img-element:hover {
    transform: scale(1.3);
}


.article-title {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--text-black);
    align-items: flex-start;
    padding: 1rem 3%;
}

/* Choose Us */
.section-wokpal-solution {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0;
    left: 0;
    background-image: url(../resource/image/bg-section/bg-darkBlue.png);
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    align-items: center;
    width: 100%;
    max-height: 150vh;
}

.section-wokpal-solution .left-content {
    display: block;
    align-items: center;
    position: relative;
    max-width: 40%;
    z-index: 1;
    opacity: 1;
}

.section-wokpal-solution .left-content .text-content {
    display: block;
    justify-content: center;
    padding: 2rem;
    align-items: center;
}


.section-wokpal-solution .left-content .text-content img {
    max-width: 26rem;
    align-items: center;
    margin-bottom: 2rem;
}

.section-wokpal-solution .left-content .text-content .text-overview {
    font-size: 3rem;
    color: var(--text-white);
    font-weight: 700;
    letter-spacing: 0;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.section-wokpal-solution .left-content .text-content .text-overview i {
    color: var(--light-green);
}



.section-wokpal-solution .left-content .text-content .our-provided {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
}

.section-wokpal-solution .left-content .text-content .our-provided .content-provided {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    text-align: start;
    margin-bottom: 1.6rem;
}

.section-wokpal-solution .left-content .text-content .our-provided .content-provided i {
    font-size: 3rem;
    color: var(--light-green);
}

.section-wokpal-solution .left-content .text-content .our-provided .content-provided .text {
    display: block;
}

.section-wokpal-solution .left-content .text-content .our-provided .content-provided .text h4 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-white);
}

.section-wokpal-solution .left-content .text-content .our-provided .content-provided .text p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-semi-gray);
}

.section-wokpal-solution .right-content {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60%;
}

.section-wokpal-solution .right-content .img-content {
    position: relative;
    display: flex;
    background-color: hsla(0, 0%, 100%, .14);
    border: 1px solid hsla(0, 0%, 100%, .14);
    backdrop-filter: blur(30px);
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: .9;
    border-radius: 999px;
}

.section-wokpal-solution .right-content .img-content img {
    position: relative;
    max-width: 100%;
    margin: auto;
}



/* Footer */

.section-footer {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-white);
    border-top: 1px solid hsla(0, 10%, 84%, 0.968);
}

.section-footer .footer-wrapper {
    display: block;
    padding: 3rem 3rem 1.5rem 3rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.section-footer .footer-wrapper .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

.section-footer .footer-wrapper .footer-content .quick-link {
    display: block;
    position: relative;
}

.section-footer .footer-wrapper .footer-content .quick-link h4 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: capitalize;
    text-align: left;
}

.section-footer .footer-wrapper .footer-content .quick-link .footer-link {
    display: inline-block;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.section-footer .footer-wrapper .footer-content .quick-link .footer-link a:hover {
    color: var(--bg-lime-green);
    width: fit-content;
}


.section-footer .footer-wrapper .footer-content .quick-link .footer-link a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--text-boldgray);
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    gap: 5px;
    transition: all ease .3s;
}

.section-footer .footer-wrapper .footer-content .quick-link .footer-link .social-link {
    position: relative;
    align-items: center;
    display: flex;
    transition: all ease .7s;
}

.section-footer .footer-wrapper .footer-content .quick-link .footer-link .social-link i {
    font-size: 2rem;
    align-items: center;
}




.section-footer .footer-wrapper .footer-content .quick-link .top-content {
    display: block;
    align-items: center;
}

.section-footer .footer-wrapper .footer-content .quick-link .top-content a {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    color: var(--text-boldgray);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
}



.section-footer .footer-wrapper .footer-content .quick-link .footer-link a .btn-small-rounded {
    text-align: center;
    background: var(--bg-lime-green);
    border-radius: 50px;
    font-size: 1rem;
    align-items: center;
    padding: .3rem .8rem .3rem .8rem;
    color: var(--text-semi-gray);
}

.section-footer .footer-wrapper .footer-content .quick-link .bottom-content {
    display: block;
    margin-bottom: 0;
    align-items: center;
}

.section-footer .footer-wrapper .footer-content .quick-link .bottom-content .security {
    align-items: center;
    position: relative;
    max-width: 10rem;
}

.section-footer .footer-wrapper .bottom-footer {
    margin-top: 2rem;
    border-top: 1px solid hsla(0, 10%, 84%, 0.968);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    right: 0;
    left: 0;
}

.section-footer .footer-wrapper .bottom-footer .logo {
    max-width: 20rem;
}

.section-footer .footer-wrapper .bottom-footer p {
    color: var(--text-black);
    font-weight: 800;
    font-size: 1.5rem;
}



/* Footer end */



/* Slider Popular */

.popular-service-slider {
    width: 100%;
    max-height: 100vh;
    margin-top: 4em;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 9px;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 7rem;
    opacity: 1;
    transition: transform .5s ease;
}

.popular-service-slider .popular-service {
    position: relative;
    width: 100%;
    align-items: center;
    display: block;
}

.popular-service-slider .popular-service .popular-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-service-slider .popular-service .popular-link .popular-img {
    width: 100%;
    position: relative;
    display: flex;
    flex: 1 0 100%;
    background-position: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    transition: all ease .8s;
    cursor: pointer;
}

.popular-service-slider .popular-service .popular-img:hover {
    opacity: 0.86;
}

.popular-service-slider .popular-service .popular-text {
    position: absolute;
    background-color: hsl(0deg 0% 100% / 14%);
    backdrop-filter: blur(28px);
    box-shadow: hsla(0, 2%, 17%, 0.239) 0px 1.4px 2.4px;
    display: block;
    align-items: start;
    z-index: 1;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease .6s;
}

.popular-service-slider .popular-service .popular-text span {
    color: var(--text-white);
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding-bottom: .8rem;
}

.popular-service-slider .popular-service .popular-text h2 {
    color: var(--text-white);
    font-weight: 700;
    font-size: 1.6rem;
}

.popular-service-slider .popular-service .popular-text:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2.4px 4.4px;
}

.popular-service-slider .popular-service .popular-rating {
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0.14);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: .5rem;
    margin-right: .5rem;
    bottom: 0;
    right: 0;
    padding: .3rem .6rem .3rem .6rem;
    border-radius: 999px;
    cursor: pointer;
    transition: all ease .6s;
    gap: 1.2px;
}


.popular-service-slider .popular-service .popular-rating p {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-white);
}

.popular-service-slider .popular-service .popular-rating i {
    font-size: 1.2rem;
    color: #d3d342;
    font-weight: 600;
}

.popular-service-slider,
.popular-service .popular-rating:hover {
    transform: scale(1.1);
}

/* Slider Control */

#carousel .arrow {
    display: flex;
    position: absolute;
    font-size: 4rem;
    margin-top: -20%;
    left: 0;
    right: 0;
    justify-content: space-between;
}

#carousel .arrow i {
    cursor: pointer;
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    color: var(--bg-lime-green);
    font-weight: 800;
    border-radius: 999px;
    z-index: 2;
    margin-left: 2rem;
    margin-right: 2rem;
}

#carousel .arrow i:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: var(--scroller-tumb);
    transition: all ease .8s;
}

/* Product  */
.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    text-align: start;
    font-weight: 800;
}


.product-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 9px;
    min-height: 100vh;
    align-content: center;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.product-wrapper .product-content {
    display: block;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    margin-top: 2rem;
}

/* Images Style */
.product-wrapper .product-content .img-poster {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.product-wrapper .product-content .img-poster .slide-img {
    align-items: center;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 30vh;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    opacity: 1.1;
    transition: all ease .7s;
    cursor: pointer;
}

.product-wrapper .product-content .img-poster .slide-img:hover {
    transform: scale(1.1);
    opacity: 2;
}


.product-wrapper .product-content .img-poster .whistlist-icon {
    display: block;
    position: absolute;
    right: 0;
    z-index: 2;
    padding: .3rem;
    cursor: pointer;
}

.product-wrapper .product-content .img-poster .whistlist-icon i {
    font-size: 3rem;
    color: var(--text-white);
    background-color: rgba(56, 46, 46, 0.198);
    backdrop-filter: blur(5px);
    border-radius: 999px;
    padding: .4rem;
    transition: all ease .2s;
}


.product-wrapper .product-content .img-poster .whistlist-icon i:hover {
    background-color: rgba(207, 38, 38, 0.246);
}

/* Product card Style */
.product-wrapper .product-content .product-card {
    position: relative;
    padding: 1rem;
    background-color: var(--bg-box);
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, hsla(0, 0%, 17%, 0.059) 0px 0px 0px 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-wrapper .product-content .product-card .title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    right: 0;
    left: 0;
    align-items: center;
    margin-bottom: 2rem;
}

.product-wrapper .product-content .product-card .text-photo {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.product-wrapper .product-content .product-card .text-photo img {
    max-width: 3rem;
    border-radius: 999px;
    border: 2px solid var(--scroller-tumb);
    cursor: pointer;
}

.product-wrapper .product-content .product-card .text-photo h4 {
    font-size: 1.4rem;
    color: var(--text-black);
    font-weight: 700;
    cursor: pointer;
}

.product-wrapper .product-content .product-card .text-photo h4:hover {
    border-bottom: 2px solid var(--bg-lime-green);
    transition: all ease .2s ease-in-out;
}


.product-wrapper .product-content .product-card .level-top {
    background-color: var(--bg-lime-green);
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--text-white);
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}


.product-wrapper .product-content .product-card .level-top:hover {
    background-color: var(--scroller-tumb);
    transition: all ease .7s;
}


.product-wrapper .product-content .product-card .level-new {
    background-color: var(--bg-dark-orange);
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--text-white);
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}


.product-wrapper .product-content .product-card .level-pro {
    background-color: var(--bg-new-blue);
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--text-white);
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}

.product-wrapper .product-content .product-card .level-new:hover,
.product-wrapper .product-content .product-card .level-pro:hover {
    opacity: .8;
    transition: all ease .8s;
}

.product-wrapper .product-content .product-card .text-box {
    display: -webkit-box;
    font-size: 1.6rem;
    font-weight: 600;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-wrapper .product-content .product-card .footer-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.product-wrapper .product-content .product-card .footer-card .btn-checkout {
    display: flex;
    border: none;
    padding: .2rem .7rem .2rem .2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-lime-green);
    gap: 5px;
    border-radius: 50px;
    cursor: pointer;
    color: var(--text-white);
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .4px;
    opacity: .9;
}

.product-wrapper .product-content .product-card .footer-card .btn-checkout i {
    background-color: var(--bg-white);
    color: var(--scroller-tumb);
    font-size: 2rem;
    border-radius: 999px;
    padding: .5rem;
    text-align: center;
}

.product-wrapper .product-content .product-card .footer-card .btn-checkout:hover {
    opacity: 1;
    transition: all ease .6s;
}

.product-wrapper .product-content .product-card .footer-card .price {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: right;
    cursor: default;
}

.product-wrapper .product-content .product-card .footer-card .price .rating {
    text-align: right;
    gap: 3px;
    font-size: 1.8rem;
    font-weight: 600;
}

.product-wrapper .product-content .product-card .footer-card .price .rating i {
    color: var(--text-star);
    font-size: 1.9rem;
    text-align: right;
    cursor: pointer;
}

.product-wrapper .product-content .product-card .footer-card .price .rating i:hover {
    transform: scale(1.1);
}

.product-wrapper .product-content .product-card .footer-card .price p {
    margin-top: .2rem;
    color: var(--text-black);
    font-size: 1.7rem;
    font-weight: 600;
}

/* End HoME menu*/