@import url(core.css);

@media only screen and (max-width:1024px) {
    html {
        font-size: 55%;
    }

    
    .header-wrapper .toogle-search {
        display: flex;
        position: relative;
    }


    .header-wrapper .workpal-nav ul .nav-link {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        margin: 0;
    }

    /* search */
    .main-header .header-wrapper .search-header .search-form {
        display: none;
    }

    .header-wrapper .toogle-search-btn {
        display: flex;
    }

    /* iamges header freelance owner*/
    .freelance-img-wrapper {
        height: auto;
        top: 0;
        margin-top: 0;
        width: 100%;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: left;
    }

    /* arrow slider popular image */
    #carousel .arrow {
        margin-top: -25%;
        opacity: 1;
    }

    /* Product List */

    .product-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 13px;
        grid-row-gap: 9px;
        align-content: center;
        max-width: 100%;
    }

    .product-wrapper .product-content .img-poster .slide-img {
        width: 100%;
        max-height: 17vh;
    }

    /* popular slider */
    .popular-service-slider .popular-service .popular-link .popular-img {
        width: 100%;
        flex: 1 0 auto;

    }

    /* Why choose us */
    .section-wokpal-solution {
        flex-direction: column;
    }

    .section-wokpal-solution .left-content {
        max-width: 100%;
    }

    .section-wokpal-solution .right-content {
        width: 100%;
        margin-top: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .section-wokpal-solution .right-content .img-content img {
        opacity: .5;
        object-fit: cover;
        object-position: center;
        max-width: 70%;
    }

        /* Go Pro */
        .subscribe-content-img .img {
            object-fit: cover;
            background-position: center;
            width: 100%;
            min-height: 28vh;
            max-height: 70vh;
        }
}


@media only screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }


    .header-wrapper .toogle-search {
        display: flex;
        position: relative;
    }


    .header-wrapper .workpal-nav ul .nav-link {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        margin: 0;
    }

    /* search */
    .main-header .header-wrapper .search-header .search-form {
        display: none;
    }

    .header-wrapper .toogle-search-btn {
        display: flex;
    }

    /* iamges header freelance owner*/
    .freelance-img-wrapper {
        height: auto;
        top: 0;
        margin-top: 0;
        width: 100%;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: left;
    }

    /* arrow slider popular image */
    #carousel .arrow {
        margin-top: -30%;
        opacity: 1;
    }

    /* Product List */

    .product-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 13px;
        grid-row-gap: 9px;
        align-content: center;
        max-width: 100%;
    }

    .product-wrapper .product-content .img-poster .slide-img {
        width: 100%;
        max-height: 17vh;
    }

    /* popular slider */
    .popular-service-slider .popular-service .popular-link .popular-img {
        max-width: fit-content;
        flex: 0;
        width: auto;
    }

    /* Why choose us */
    .section-wokpal-solution {
        flex-direction: column;
    }

    .section-wokpal-solution .left-content {
        max-width: 100%;
    }

    .section-wokpal-solution .right-content {
        width: 100%;
        margin-top: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .section-wokpal-solution .right-content .img-content img {
        opacity: .5;
        object-fit: cover;
        object-position: center;
        max-width: 70%;
    }

    .comunity{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 9px;
    }

    /* Notification */
    .notification-show.showing{
        display: block;
        position: absolute;
        max-width: 100%;
        width: 40%;
        margin-top: -1rem;
        background-color: var(--bg-box);
        right: 11rem;
        max-height: 100vh;
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        transform: scale(1);
        z-index: 90;
        transition: all ease-in-out .5s;
    
    }

        /* Go Pro */
        .subscribe-content-img .img {
            object-fit: cover;
            background-position: center;
            width: 100%;
            height: 25vh;
            max-height: 27vh;
        }

        /* Filter mobile UI */
    .filter-conteiner{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        overflow: hidden;
        overflow-y: scroll;
        align-items: start;
        justify-content: flex-start;
    }

    .filter-conteiner .filter-content{
        width: 100%;
        align-items: start;
        position: relative;
        display: inline-block;
    }

    .filter-conteiner .filter-content .title{
        position: relative;
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: space-between;
       padding: 1rem;
       align-items: center;
       margin-bottom: 1rem;
       border-bottom: 1px solid hsl(0, 5%, 92%);
       transition: all ease-in-out .6s;
    }
    .filter-content .title h4{
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--text-black);
       left: 0;
    }

    .filter-content .title i{
        position: relative;
        display: flex;
        font-size: 1.6rem;
       right: 2rem;
    }

    .filter-content .input-checked{
        position: relative;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        gap:3px;
    }

    .filter-content .input-checked label{
        font-size: 1.6rem;
        font-weight: 600;
        color:#14171c;
    }

    .filter-content .budget-info{
        text-align: start;
        font-size: 1.4rem;
        font-weight: 600;
        color: #717171;
        margin-bottom: 1rem;
    }

    .filter-content .input-group{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .filter-content .input-group .input-text{
       position: relative;
       display: block;
       align-items: center;
       width: 100%;
       margin-bottom: 1rem;
    }

    .input-group .input-text label{
        display: flex;
        text-align: start;  
        font-size: 1.4rem;
        font-weight: 600;
    }

    .input-group .input-text input[type="text"]{
        outline: none;
        border: 1px solid #ccc;
        background-color: #f5f0f0;
        padding: 1rem;
        width: 100%;
        font-size: 1.2rem;
        border-radius: 5px;
    }


    .modal-footer .btn-group{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        position: relative;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }

    .modal-footer .btn-group .btn-reset{
        outline: none;
        background-color: transparent;
        border: none;
        font-size: 1.9rem;
        font-weight: 600;
        color: blue;
    }

    .modal-footer .btn-group .btn-apply{
        outline: none;
        background-color: #36c036;
        border: 0;
        font-size: 1.7rem;
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 5rem;
        font-weight: 600;
        color: white;
    }


    /* Client */
    .client-simemenu-wrapper {
        flex-direction: column; 
        width: 100%;
        max-height: 80vh !important;
    }


    .client-profile-wrapper{
        position: relative !important;
        max-height: 100vh !important;
    }


   

    .client-profile-wrapper .open-toogle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 3rem;
        color: var(--text-black);
        margin-top: 1.5rem;
        background-color: var(--bg-box);
        box-shadow: var(--box-shadow);
        padding: 1rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
        align-items: center;
        transition: all ease .6s;
    }
    .client-profile-wrapper .open-toogle .profile-img{
        position: relative;
        max-width: 4rem;
        object-fit: cover;
        border: 1px solid hsl(136, 72%, 35%);
        background-position: center;
        border-radius: 999px;
    }

    .client-side-menu .content-img .camera{
        top:27%;
        margin-left: 12rem;
    }


    .client-simemenu-wrapper .content-menu-profile {
        width: 100%;
        top: 0;
        right: 0;
        margin-top: 1rem;
        position: absolute;
        flex-direction: column; 
    }

    .subs-acount-setting form .form-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .subs-acount-setting form .form-control label{
        font-size: 1.5rem;
    }

    .client-simemenu-wrapper .client-side-menu{
        width: 100%;
        transform: translateX(-200%);
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 0;
        z-index: 100;
        right: 0;
    }

    .client-simemenu-wrapper .client-side-menu.active{
        max-width: 40rem;
        transform: translateX(0);
        position: absolute;
        display: flex;
        top:-9rem;
        left: 0;
        border-radius: none;
        flex-direction: column;
        z-index: 100;
        transition: all ease-in-out .4s;
    }

    .notification-center .notif-content-center img{
        max-width: 50%;
        object-fit: cover;
    }

    .notif-content-center .text p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
        max-height: 50vh;
    }
   .client-profile-wrapper {
        height: calc(50vh);
    }



    
    
/* Service detail */
.sub-link-wrapper .wishlist-heart{
    background-repeat: no-repeat;
    background-position: -30px 0;
    display: block;
    height: 28px;
    width: 30px;
}


.service-detail-img .img-right .show-all-img {
    width: 80%;
    bottom: 0rem;
}


.service-detail-img .img-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    align-items: center;
}


.content-service-detail .service-detail-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 1rem;
    position: relative;
    width: 100%;
    margin-top: 3rem;
}

.service-detail-info .left-content-detail .title-gig h4 {
    overflow-wrap: break-word; 
    font-weight: 600;
    color: var(--text-black);
    font-size: 2rem;
    text-transform: capitalize;
}


.service-detail-info .left-content-detail {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word; 
    overflow: hidden; 
}


.left-content-detail .title-gig .status-gig {
    max-width:45%;
}

.contact-your-freelance .section-profile .btn-message-host{
    width: 100%;
}

.left-content-detail .photopolio .freelance-photopolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.photopolio .freelance-photopolio .img-left img {
    max-width: 40rem;
}

.photopolio .freelance-photopolio .img-right img {
    max-width: 17rem;
}

.reviewer-wrapper{
    margin-top: 8rem;
}

.content-review{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    position: relative;
    width: 100%;
    margin-top: 2rem
}
.review-content .sort-wrapper{
    margin-top: 6rem;
}
   


}

@media(max-width:768px) {

    
    /* Header */
    main {
        padding: 2rem 6%;
    }

    .main-conteiner {
        padding: 2rem;
    }

    .header-wrapper .workpal-nav {
        display: none;
    }

    .header-wrapper .icons {
        max-width: 100%;
        gap: 20px;
    }

    .main-header .header-wrapper .workpal-nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        inset: 0 0 0 30%;
        background-color:#e8f0e8aa;
        backdrop-filter: blur(2rem);
        z-index: 90;
        transform: translateX(100%);
        transition: transform 500ms ease-out;
    }
    .main-header .header-wrapper .workpal-nav[data-visible="true"]{
        transform: translateX(0%);
    }


    @supports(backdrop-filter: blur(2rem)){
        .main-header .header-wrapper .workpal-nav {
            background-color:#e8f0e8aa;
            backdrop-filter: blur(2rem);
        }
        .toogle-nav .sr-auto{
            background-color: hwb(0 25% 73% / 0.652);
            backdrop-filter: blur(20px);
        }
    }

    .workpal-nav ul{
        display: block;
        padding: min(30vh , 13rem) 2rem;
    }

    .header-wrapper .toogle-nav.active > .sr-auto{
        display: flex;
        position: absolute;
        aspect-ratio: 1;
        z-index: 99;
        right: 4rem;
        top: 5rem;
        padding: .7rem;
        color: var(--text-black);
        font-size: 3.6rem;
        background-color: transparent;
        border-radius: 999px;
    }


    .header-wrapper .workpal-nav ul .nav-link {
        display: flex;
        flex-direction: row;
        margin-bottom: 3.5rem;
        gap:30px;
    }
    .workpal-nav .nav-link .text-link ,
    .workpal-nav .nav-link span{
        align-items: start;
        font-size: 2.7rem;
        color: var(--text-black);
        font-weight: 500;
    }


    .logo-workpal img {
        max-width: 10rem;
    }

    .category-menu .prev {
        margin-left: -1.5rem;
    }

    .category-menu .next {
        right: 0;
        margin-right: 1.5rem;
    }

    .main-header {
        position: fixed;
        justify-content: center;
    }

    .main-header .header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .header-wrapper .toogle-nav,
    .header-wrapper .toogle-search-btn {
        display: flex;
        align-items: center;
    }

    .category-menu .category-menu-wrapper {
        display: flex;
        max-width: 100%;
    }

    .main-header .header-wrapper .search-header .search-form {
        display: none;
    }

    /* Product List */

    .product-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 13px;
        grid-row-gap: 9px;
        align-content: center;
        max-width: 100%;
    }

    .product-wrapper .product-content .img-poster .slide-img {
        width: 100%;
        max-height: 25vh;
    }

    .product-wrapper .product-content .product-card .footer-card .btn-checkout {
        font-size: 1.8rem;
    }

    .product-wrapper .product-content .product-card .footer-card .price .rating {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .product-wrapper .product-content .product-card .footer-card .price .rating i {
        color: var(--text-star);
        font-size: 1.9rem;
    }

    .product-wrapper .product-content .product-card .footer-card .price .rating i:hover {
        transform: scale(1.1);
    }

    .product-wrapper .product-content .product-card .footer-card .price p {
        color: var(--text-black);
        font-size: 1.7rem;
        font-weight: 600;
    }

    /* Popular Slider */

    .popular-service-slider {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(0, 0fr);
        grid-column-gap: 10px;
        grid-row-gap: 9px;
        overflow: hidden;
        white-space: none;
    }

    .popular-service-slider .popular-service .popular-link .popular-img {
        width: auto;
        max-width: 100%;
        flex: 1 0 100%;
        object-fit: cover;
    }

    /* slider popular arrow set */


    #carousel .arrow {
        margin-top: -45%;
        opacity: 1;
    }

    #carousel .arrow i {
        margin-left: 1rem;
        margin-right: 1rem;
    }


    /* end */


    /* company ever use  */
    .section-company {
        padding: 2rem;
    }

    .section-company .logo-big-company {
        gap: 3px;
    }

    .section-company .logo-big-company .img-element {
        margin-left: .5rem;
        max-width: calc(8rem / 2);
    }

    .freelance-img-wrapper {
        height: auto;
        top: 0;
        margin-top: 0;
        width: 100%;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: left;
    }

    /* Why have choose Us */

    .section-wokpal-solution {
        flex-direction: column;
    }

    .section-wokpal-solution .left-content {
        max-width: 100%;
    }

    .section-wokpal-solution .right-content {
        width: 100%;
        margin-top: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .section-wokpal-solution .right-content .img-content img {
        opacity: .5;
        object-fit: cover;
        object-position: center;
        max-width: 70%;
    }

    .section-footer .footer-wrapper .footer-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(0, 0fr);
        grid-column-gap: 20px;
        grid-row-gap: 15px;
    }

    .section-footer .footer-wrapper .bottom-footer .logo {
        max-width: 12rem;
    }


    /* Search Pop Up */

    .search-container .history-search{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

   .search-container .history-search .history p{
    font-size: 1.6rem;
   }

   

    .search-container .history-search .history{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 3px;
    }

    /* Wishlist */
    .wishlist-header-content{
        width: 100%;
    }
    .wishlist-header-content .wishlist-title h3{
        font-size: 3rem;
        width: 100%;
    }

    .wishlist-header-content .wishlist-title .text{
        font-size: 1.3rem;
        width: 88%;
    }


    .wishlist-header-content .create-list{
        width: 65%;
    }

    .wishlist-header-content .create-list .btn-create-list{
       width: 100%;
    }

    .wishlist-wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 13px;
        grid-row-gap: 9px;
    }

    .wishlist-wrapper .wishlist-card-content{
        width: 100%;
    }

    .wishlist-wrapper .wishlist-card-content .img-wishlist a img{
        height: 20vh;
    }

    /* About Us */
    .img-header-about{
        padding: 1.5rem;
    }

    .img-header-about img{
        position: relative;
        max-height: 60vh;
        height: 25vh;
        background-attachment: fixed;
        background-position: right !important;
    }

    .img-header-about .text{
        max-width: 90%;
        justify-content: center;
        align-items: center;
        padding:0;
        top: 0;
        bottom: 0;
    }

    .img-header-about .text h3{
      font-size: 3rem;
      max-width: 100%;

    }
    .img-header-about .text p{
        max-width: 100%;
        font-size: 2.2rem;
        text-align: center;
    }

    .comunity{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 9px;
    }

    /* Notification */
    .notification-show.showing{
        display: block;
        position: absolute;
        max-width: 100%;
        width: 50%;
        margin-top: -1rem;
        background-color: var(--bg-box);
        right: 14rem;
        max-height: 100vh;
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        transform: scale(1);
        z-index: 90;
        transition: all ease-in-out .5s;
    
    }

    /* Category */

    .category-page .category-content-all{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        place-items: center;
    }

    .category-workpal .content-desc{
        background-color: var(--bg-box);
        padding: 2rem;
        position: relative;
    }

    /* Go Pro */
    .subscribe-content-img .img {
        object-fit: cover;
        background-position: center;
        width: 100%;
        height: 28vh;
        max-height: 30vh;
    }


    .btn-filter{
        display: none;
    }

    .btn-filter-sort{
        display: flex;
        flex-direction: row;
        border: 1px solid #ccc;
        padding: 1rem;
        gap: 10px;
        cursor: pointer;
        border-radius: 5px;
        align-items: center;
    }
    .btn-filter-sort i{
        font-size: 3rem;
    }

    .btn-filter-sort span{
        font-size: 1.6rem;
        font-weight: 700;
    }

    /* Slide toogle*/
    .right-content-filter .toggle-switch {
        position: relative;
        display: inline-block;
        max-width: 6.4rem;
        max-height: 4.6rem;
    }

    .right-content-filter .slider:before {
        position: absolute;
        content: "";
        max-width: 2.3rem;
        max-height: 2.3rem;
        left: .3rem;
        bottom: .3rem;
        background-color: var(--bg-box);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 5rem;
    }


     /* Slide toogle*/
     .right-content-filter .toggle-switch {
        position: relative;
        display: inline-block;
        max-width: 6.4rem;
        max-height: 4.6rem;
    }

    .right-content-filter .slider:before {
        position: absolute;
        content: "";
        max-width: 2.3rem;
        max-height: 2.3rem;
        left: .3rem;
        bottom: .3rem;
        background-color: var(--bg-box);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 5rem;
    }

    /* Filter mobile UI */
    .filter-conteiner{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        overflow: hidden;
        overflow-y: scroll;
        align-items: start;
        justify-content: flex-start;
    }

    .filter-conteiner .filter-content{
        width: 100%;
        align-items: start;
        position: relative;
        display: inline-block;
    }

    .filter-conteiner .filter-content .title{
        position: relative;
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: space-between;
       padding: 1rem;
       align-items: center;
       margin-bottom: 1rem;
       border-bottom: 1px solid hsl(0, 5%, 92%);
       transition: all ease-in-out .6s;
    }
    .filter-content .title h4{
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--text-black);
       left: 0;
    }

    .filter-content .title i{
        position: relative;
        display: flex;
        font-size: 1.6rem;
       right: 2rem;
    }

    .filter-content .input-checked{
        position: relative;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        gap:3px;
    }

    .filter-content .input-checked label{
        font-size: 1.6rem;
        font-weight: 600;
        color:#14171c;
    }

    .filter-content .budget-info{
        text-align: start;
        font-size: 1.4rem;
        font-weight: 600;
        color: #717171;
        margin-bottom: 1rem;
    }

    .filter-content .input-group{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .filter-content .input-group .input-text{
       position: relative;
       display: block;
       align-items: center;
       width: 100%;
       margin-bottom: 1rem;
    }

    .input-group .input-text label{
        display: flex;
        text-align: start;  
        font-size: 1.4rem;
        font-weight: 600;
    }

    .input-group .input-text input[type="text"]{
        outline: none;
        border: 1px solid #ccc;
        background-color: #f5f0f0;
        padding: 1rem;
        width: 100%;
        font-size: 1.2rem;
        border-radius: 5px;
    }


    .modal-footer .btn-group{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        position: relative;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }

    .modal-footer .btn-group .btn-reset{
        outline: none;
        background-color: transparent;
        border: none;
        font-size: 1.9rem;
        font-weight: 600;
        color: blue;
    }

    .modal-footer .btn-group .btn-apply{
        outline: none;
        background-color: #36c036;
        border: 0;
        font-size: 1.7rem;
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 5rem;
        font-weight: 600;
        color: white;
    }

    /* Client */ 
    .client-simemenu-wrapper {
        flex-direction: column; 
        width: 100%;
        max-height: 100vh !important;
    }


    .client-profile-wrapper{
        position: relative !important;
        height: 100vh !important;
    }

   

    .client-profile-wrapper .open-toogle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 3rem;
        color: var(--text-black);
        margin-top: 1.5rem;
        background-color: var(--bg-box);
        box-shadow: var(--box-shadow);
        padding: 1rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
        align-items: center;
        transition: all ease .6s;
    }
    .client-profile-wrapper .open-toogle .profile-img{
        position: relative;
        max-width: 4rem;
        object-fit: cover;
        border: 1px solid hsl(136, 72%, 35%);
        background-position: center;
        border-radius: 999px;
    }

    .client-side-menu .content-img .camera{
        top:27%;
        margin-left: 12rem;
    }


    .client-simemenu-wrapper .content-menu-profile {
        width: 100%;
        top: 0;
        right: 0;
        margin-top: 1rem;
        position: absolute;
        flex-direction: column; 
    }

    .subs-acount-setting form .form-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .subs-acount-setting form .form-control label{
        font-size: 1.5rem;
    }

    .client-simemenu-wrapper .client-side-menu{
        width: 100%;
        transform: translateX(-200%);
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 0;
        z-index: 100;
        right: 0;
    }

    .client-simemenu-wrapper .client-side-menu.active{
        max-width: 40rem;
        transform: translateX(0);
        position: absolute;
        display: flex;
        top:-9rem;
        left: 0;
        border-radius: none;
        flex-direction: column;
        z-index: 100;
        transition: all ease-in-out .4s;
    }

    .notification-center .notif-content-center img{
        max-width: 50%;
        object-fit: cover;
    }

    .notif-content-center .text p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
        max-height: 50vh;
    }


    
/* Service detail */
.sub-link-wrapper .wishlist-heart{
    background-repeat: no-repeat;
    background-position: -30px 0;
    display: block;
    height: 28px;
    width: 30px;
}


.service-detail-img .img-right .show-all-img {
    width: 80%;
    bottom: 0rem;
}


.service-detail-img .img-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    align-items: center;
}


.content-service-detail .service-detail-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 1rem;
    position: relative;
    width: 100%;
    margin-top: 3rem;
}

.service-detail-info .left-content-detail .title-gig h4 {
    overflow-wrap: break-word; 
    font-weight: 600;
    color: var(--text-black);
    font-size: 2rem;
    text-transform: capitalize;
}


.service-detail-info .left-content-detail {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word; 
    overflow: hidden; 
}


.left-content-detail .title-gig .status-gig {
    max-width:45%;
}

.contact-your-freelance .section-profile .btn-message-host{
    width: 100%;
}

.left-content-detail .photopolio .freelance-photopolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.photopolio .freelance-photopolio .img-left img {
    max-width: 40rem;
}

.photopolio .freelance-photopolio .img-right img {
    max-width: 17rem;
}

.reviewer-wrapper{
    margin-top: 8rem;
}

.content-review{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    position: relative;
    width: 100%;
    margin-top: 2rem
}
.review-content .sort-wrapper{
    margin-top: 6rem;
}
   

}


@media (max-width:450px) {
    html {
        font-size: 40%;
    }

    .search-form .search-input{
        width: 100%;

    }

    .search-btn i {
        display: none;
    }

    

    /* Icons Header  toogle*/
    .header-wrapper .icons {
        gap: 10px;
    }

    .popular-service-slider {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(0, 0fr);
        grid-column-gap: 13px;
        grid-row-gap: 9px;
        overflow: hidden;
        white-space: none;
    }

    /* product */

    .product-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 13px;
        grid-row-gap: 9px;
        max-width: 100%;
    }

    .product-wrapper .product-content .img-poster .slide-img {
        width: 100%;
        max-height: 20vh;
    }

    .product-wrapper .product-content .product-card .footer-card .price .rating {
        font-size: 1.5rem;
    }

    .product-wrapper .product-content .product-card .footer-card .price .rating i {
        color: var(--text-star);
        font-size: 1.6rem;
        text-align: right;
        cursor: pointer;
    }

    .product-wrapper .product-content .product-card .footer-card .price .rating i:hover {
        transform: scale(1.1);
    }

    .product-wrapper .product-content .product-card .footer-card .price p {
        margin-top: .2rem;
        color: var(--text-black);
        font-size: 1.6rem;
        font-weight: 600;
    }



    .product-wrapper .product-content .product-card .footer-card .btn-checkout {
        font-size: .9rem;
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
    }

    /* Category prev icon */
    .category-menu .prev {
        margin-left: -1rem;
    }

    /* company ever use  */
    .section-company {
        padding: .5rem;
    }

    .section-company .logo-big-company {
        gap: 3px;
    }

    .section-company .logo-big-company .img-element {
        margin-left: .5rem;
        max-width: calc(12rem / 2);
    }

    .section-slideshow .header-title {
        display: block;
        position: absolute;
        z-index: 1;
        padding: 1rem;
        left: 3rem;
        bottom: 65%;
        top: 15%;
        align-items: center;
        text-align: left;
    }

    .freelance-img-wrapper {
        height: auto;
        top: 0;
        margin-top: 0;
        width: 100%;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: left;
    }

    /* why choose Us */
    .section-wokpal-solution {
        flex-direction: column;
    }

    .section-wokpal-solution .left-content {
        max-width: 100%;
    }

    .section-wokpal-solution .right-content {
        width: 100%;
        margin-top: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .section-wokpal-solution .right-content .img-content img {
        opacity: .5;
        object-fit: cover;
        object-position: center;
        max-width: 70%;
    }

    /* footer */
    .section-footer .footer-wrapper .bottom-footer .logo {
        max-width: 12rem;
    }



    /* Wishlist */
    .wishlist-header-content{
        width: 100%;
    }
    .wishlist-header-content .wishlist-title h3{
        font-size: 3rem;
        width: 100%;

    }

    .wishlist-header-content .wishlist-title .text{
        font-size: 1.3rem;
        width: 88%;
    }


    .wishlist-header-content .create-list{
        width: 65%;
    }

    .wishlist-header-content .create-list .btn-create-list{
       width: 100%;
    }

    .wishlist-wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 13px;
        grid-row-gap: 9px;
    }

    .wishlist-wrapper .wishlist-card-content{
        width: 100%;
    }

    /* share */
    .share-modal .share-content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        gap: 2.5rem;
    }

    /* About */

    .img-header-about{
        padding: 1.5rem;
    }

    .img-header-about img {
        position: relative;
        max-height: 60vh;
        height: 25vh;
        background-attachment: fixed;
        background-position: right !important;
        object-fit: initial; 
        width: 100%; 
    }
    
    .img-header-about img::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("../resource/image/bg-section/about-banner.webp");
        background-size: cover;
        background-position: right top; 
        opacity: 0.5; 
        z-index: -1;
    }
    


    .img-header-about .text{
        max-width: 90%;
        justify-content: center;
        align-items: center;
        padding:0;
    }

    .img-header-about .text h3{
      font-size: 2.8rem;
      max-width: 100%;

    }
    .img-header-about .text p{
        max-width: 100%;
        font-size: 2rem;
        text-align: center;
    }
    

    .about-container .about-content .how-we-work{
        padding: 1.4rem;
    }

    .about-container .about-content .how-we-work .left-content{
        width: 100%;
        height: auto;
        position: relative;
        background-attachment: fixed;
        background-position: right !important;
        object-fit: initial; 
    }
    .about-container .about-content .how-we-work .left-content::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("../resource/image/bg-section/bg-banner-green.png");
        background-size: cover;
        background-position: center bottom; 
        opacity: 0.5; 
        z-index: -1;
    }

    .about-container .about-content .how-we-work .right{
        max-width: 18rem;
    }
    .about-container .about-content .how-we-work .right img{
       display: none;
    }

    .comunity{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 9px;
    }

    .accordion .accordion-content {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .accordion-content .right-form img{
        width: 100%;
    }

    .accordion-content .accrodion-left{
        padding:1rem;
    }

    .accordion-content .accrodion-left .faq{
        width: 100%;
    }

    /* Notification */
    .notification-show.showing{
        display: block;
        position: absolute;
        max-width: 100%;
        width: 60%;
        margin-top: -1rem;
        background-color: var(--bg-box);
        right: 14rem;
        max-height: 100vh;
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        transform: scale(1);
        z-index: 90;
        transition: all ease-in-out .5s;
    
    }

    .notification-show .notification-body .notif-content .left-notif img{
        max-width: 6rem;
    }

    /* Category Popular */


    .category-banner-content .text{
        max-width: 80%;
        align-items: center;
        text-align: center;
    }
    .category-slide-most-popular .slider-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .category-slide-most-popular .slider-wrapper .slider-content{
        width: 100%; 
    }


    .category-banner-content img{
        position: relative;
        height: 20vh;
        max-height: 20vh;
         background-attachment: fixed;
        background-position: right !important;
        object-fit: initial; 
        width: 100%; 
    }

    .category-banner-content img::after{
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center bottom; 
        opacity: 0.5; 
        z-index: -1;
    }


    .category-banner-content .text{
        display: flex;
        position: absolute;
        max-width: 85%;
        place-items: center;
        padding:0;
    }

    .category-banner-content .text h3{
      font-size: 2.8rem;
      max-width: 100%;

    }
    .category-banner-content .text p{
        max-width: 100%;
        font-size: 2rem;
        text-align: center;
    }

    .category-page .category-content-all{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        place-items: center;
    }

    .category-workpal .content-desc{
        background-color: var(--bg-box);
        padding: 2rem;
        position: relative;
    }

    /* Subscribe to Pro */

    .subscribe-wrapper{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        flex-shrink: 0;
    }
    .subscribe-content-form h4{
        width: 100%;
    }

    .subscribe-wrapper .subscribe-content-img{
        width: 100%;
    }

    .subscribe-content-img .top-text span{
        font-size: 1.4rem;
        font-weight: 700;
    }

    .subscribe-wrapper .subscribe-content-form{
        width: 100%;
    }

    .subscribe-content-form h4{
        margin-bottom: 2rem;
    }

    .subscribe-content-form form{
        margin-bottom: 2rem;
    }


    /* History */
    
    .result-search-box {
        top: 18%;
    }

    .btn-filter{
        display: none;
    }

    .btn-filter-sort{
        display: flex;
        flex-direction: row;
        border: 1px solid #ccc;
        padding: 1rem;
        gap: 5px;
        align-items: center;
    }
    .btn-filter-sort i{
        font-size: 3rem;
    }

    .btn-filter-sort span{
        font-size: 1.6rem;
        font-weight: 700;
    }

    /* Slide toogle*/
    .right-content-filter .toggle-switch {
        position: relative;
        display: inline-block;
        max-width: 6.4rem;
        max-height: 4.6rem;
    }

    .right-content-filter .slider:before {
        position: absolute;
        content: "";
        max-width: 2.3rem;
        max-height: 2.3rem;
        left: .3rem;
        bottom: .3rem;
        background-color: var(--bg-box);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 5rem;
    }

    /* Filter mobile UI */
    .filter-conteiner{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        overflow: hidden;
        overflow-y: scroll;
        align-items: start;
        justify-content: flex-start;
    }

    .filter-conteiner .filter-content{
        width: 100%;
        align-items: start;
        position: relative;
        display: inline-block;
    }

    .filter-conteiner .filter-content .title{
        position: relative;
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: space-between;
       padding: 1rem;
       align-items: center;
       margin-bottom: 1rem;
       border-bottom: 1px solid hsl(0, 5%, 92%);
       transition: all ease-in-out .6s;
    }
    .filter-content .title h4{
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--text-black);
       left: 0;
    }

    .filter-content .title i{
        position: relative;
        display: flex;
        font-size: 1.6rem;
       right: 2rem;
    }

    .filter-content .input-checked{
        position: relative;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        gap:3px;
    }

    .filter-content .input-checked label{
        font-size: 1.6rem;
        font-weight: 600;
        color:#14171c;
    }

    .filter-content .budget-info{
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        color: #717171;
        margin-bottom: 1rem;
    }

    .filter-content .input-group{
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        position: relative;
    }

    .filter-content .input-group .input-text{
       position: relative;
       display: block;
       align-items: center;
       max-width: 50%;
       margin-bottom: 1rem;
    }

    .input-group .input-text label{
        display: flex;
        text-align: start;  
        font-size: 1.4rem;
        font-weight: 600;
    }

    .input-group .input-text input[type="text"]{
        outline: none;
        border: 1px solid #ccc;
        background-color: #f5f0f0;
        padding: 1rem;
        width: 100%;
        font-size: 1.2rem;
        border-radius: 5px;
    }


    .modal-footer .btn-group{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        position: relative;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }

    .modal-footer .btn-group .btn-reset{
        outline: none;
        background-color: transparent;
        border: none;
        font-size: 1.9rem;
        font-weight: 600;
        color: blue;
    }

    .modal-footer .btn-group .btn-apply{
        outline: none;
        background-color: #36c036;
        border: 0;
        font-size: 1.7rem;
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 5rem;
        font-weight: 600;
        color: white;
    }


   /* Client Menu */
   .client-simemenu-wrapper {
    flex-direction: column; 
    width: 100%;
    height: 150vh;
}


.client-profile-wrapper{
    position: relative !important;
    height: 150vh;
}



.client-profile-wrapper .open-toogle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3rem;
    color: var(--text-black);
    margin-top: 1.5rem;
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    align-items: center;
    transition: all ease .6s;
}
.client-profile-wrapper .open-toogle .profile-img{
    position: relative;
    max-width: 4rem;
    object-fit: cover;
    border: 1px solid hsl(136, 72%, 35%);
    background-position: center;
    border-radius: 999px;
}

.client-side-menu .content-img .camera{
    top:27%;
    margin-left: 12rem;
}


.client-simemenu-wrapper .content-menu-profile {
    width: 100%;
    top: 0;
    right: 0;
    margin-top: 1rem;
    position: absolute;
    flex-direction: column; 
}

.subs-acount-setting form .form-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.subs-acount-setting form .form-control label{
    font-size: 1.5rem;
}

.client-simemenu-wrapper .client-side-menu{
    width: 100%;
    transform: translateX(-200%);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    right: 0;
}

.client-simemenu-wrapper .client-side-menu.active{
    max-width: 40rem;
    transform: translateX(0);
    position: absolute;
    display: flex;
    top:-9rem;
    left: 0;
    border-radius: none;
    flex-direction: column;
    z-index: 100;
    transition: all ease-in-out .4s;
}

.notification-center .notif-content-center img{
    max-width: 50%;
    object-fit: cover;
}

.notif-content-center .text p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    max-height: 50vh;
}


/* Service detail */
.sub-link-wrapper .wishlist-heart{
    background-repeat: no-repeat;
    background-position: -30px 0;
    display: block;
    height: 28px;
    width: 30px;
}


.service-detail-img .img-right .show-all-img {
    width: 80%;
    bottom: 0rem;
}


.service-detail-img .img-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    align-items: center;
}


.content-service-detail .service-detail-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 1rem;
    position: relative;
    width: 100%;
    margin-top: 3rem;
}

.service-detail-info .left-content-detail .title-gig h4 {
    overflow-wrap: break-word; 
    font-weight: 600;
    color: var(--text-black);
    font-size: 2rem;
    text-transform: capitalize;
}


.service-detail-info .left-content-detail {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word; 
    overflow: hidden; 
}


.left-content-detail .title-gig .status-gig {
    max-width:45%;
}

.contact-your-freelance .section-profile .btn-message-host{
    width: 100%;
}

.left-content-detail .photopolio .freelance-photopolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.photopolio .freelance-photopolio .img-left img {
    max-width: 25rem;
}

.photopolio .freelance-photopolio .img-right img {
    max-width: 11rem;
}

.reviewer-wrapper{
    margin-top: 8rem;
}

.content-review{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    position: relative;
    width: 100%;
    margin-top: 2rem
}
.review-content .sort-wrapper{
    margin-top: 6rem;
}


/* End Service Detail */



/* Checkout */

.billing-header img{
    display: none;
    font-size: 1rem !important;
}

.billing-header .status-payment{
    gap: 10px;
}
.billing-header .status-payment span{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.billing-header .bxs-chevrons-right{
    display: none;
}

.card-payment {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    position: relative;
    padding: 5rem 5%;
    margin-top: 9rem;
}

.right-payment{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    position: relative;
    width: 100%;
    align-items: center;
    right: 0;
    background-color: var(--bg-box);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 5px;
    order: -1;
    overflow: hidden;

}

.right-payment .top-header{
    display: flex;
    width: 100%;
}

.right-payment .top-header span{
    width: 100%;
    text-wrap: wrap;
    position: relative;
    display: flex;
}


/* Become freelancer */
.content-main .form-regis .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 10px;
    width: 100%;
    margin-bottom: 2rem;
}

.content-main .form-regis .form-area textarea{
    width: 100%;
}


}